Pierre Loic Garoche <ploc@garoche.net> <ploc@garoche.net>
Pierre Loic Garoche <ploc@garoche.net> <ploc@cavaled.enseeiht.fr>
Pierre Loic Garoche <ploc@garoche.net> <ploc@recherche.enac.fr>
Pierre Loic Garoche <ploc@garoche.net> <ploc@041b043f-8d7c-46b2-b46e-ef0dd855326e>
Pierre Loic Garoche <ploc@garoche.net> <pgaroche@teme.ndc.nasa.gov>
Xavier Thirioux <xavier.thirioux@isae-supaero.fr> <xthirioux@041b043f-8d7c-46b2-b46e-ef0dd855326e>
Xavier Thirioux <xavier.thirioux@isae-supaero.fr> <thirioux@enseeiht.fr>
Xavier Thirioux <xavier.thirioux@isae-supaero.fr> <xavier.thirioux@enseeiht.fr>
Christophe Garion <tofgarion@runbox.com>
Lélio Brun <lelio.brun@isae-supaero.fr>
Guillaume DAVY <guillaume@davy.xyz>
Temesghen Kahsai <lememta@gmail.com> <lememta@gmail.com>
Temesghen Kahsai <lememta@gmail.com> <tkahsai@041b043f-8d7c-46b2-b46e-ef0dd855326e>
Temesghen Kahsai <lememta@gmail.com> <teme.kahsai@sv.cmu.edu>
Eric Noulard <eric.noulard@gmail.com> <eric.noulard@gmail.com>
Eric Noulard <eric.noulard@gmail.com> <enoulard@041b043f-8d7c-46b2-b46e-ef0dd855326e>
Hamza Bourbouh <hamza.bourbouh@nasa.gov> <hamza.bourbouh@nasa.gov>
Hamza Bourbouh <hamza.bourbouh@nasa.gov> <bourbouhh@gmail.com>
David Doose <david.doose@gmail.com>
Arnaud Dieumegard <arnaud.dieumegard@onera.fr>
Frédéric Boniol <frederic.boniol@onera.fr>
Making GitHub Delicious <iron@waffle.io>
Julien Braine <julien.braine@ens-lyon.fr>
